body {
    font-family: Raleway;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offerings-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.card p {
    font-size: 0.9em;
    color: #555;
}

.card a {
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;
    color: #007bff;
}

.card button {
    background-color: #ffff;
    color: #606C38;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #606C38;
    color: #ffff;
}
